header {
    border-bottom: 1px solid black;
    text-align: center;
  }
  
  main{
    width: 100%;
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
    float: right;
    text-align: center;
    background-color: white;
    color: black;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  button {
    background-color: black;
    color: white;
    font-family: serif;
  }

  button:active{
    background-color: white;
    color: black;
    font-family: serif;
  }

  aside:has(button:active){
    background-color: black;
    color: white;
  }